version: "3.2"

networks:
  slurm-net:
    driver: overlay
    external: true

volumes:
  etc_munge:
  var_log_slurm:
  var_spool_slurm:
    driver: local
    driver_opts:
      type: nfs
      o: addr=jamalslurm01,rw,bg,soft,intr,rsize=8192,wsize=8192
      device: ":/data/nfs_vol/slurm/spool"
  etc_slurm:
    driver: local
    driver_opts:
      type: nfs
      o: addr=jamalslurm01,rw,bg,soft,intr,rsize=8192,wsize=8192
      device: ":/data/nfs_vol/slurm/conf"
  slurm_jobdir:
    driver: local
    driver_opts:
      type: nfs
      o: addr=jamalslurm01,rw,bg,soft,intr,rsize=8192,wsize=8192
      device: ":/data/nfs_vol/slurm/data"
  var_lib_mysql:
    driver: local
    driver_opts:
      type: nfs
      o: addr=jamalslurm01,rw,bg,soft,intr,rsize=8192,wsize=8192
      device: ":/data/nfs_vol/slurm/mysql"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    networks:
      - slurm-net
    volumes:
      - var_lib_mysql:/var/lib/mysql
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        max_attempts: 3

  slurmdbd:
    image: jamal0230/slurm-mpi-r:latest
    command: ["slurmdbd"]
    hostname: slurmdbd
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    depends_on:
      - mysql
    networks:
      - slurm-net
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        max_attempts: 3

  slurmctld:
    image: jamal0230/slurm-mpi-r:latest
    command: ["slurmctld"]
    hostname: slurmctld
    ports:
      - "8787:8787"
    environment:
      USER: rstudio
      PASSWORD: rstudio
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_spool_slurm:/var/spool/slurm
      - var_log_slurm:/var/log/slurm
    depends_on:
      - slurmdbd
    networks:
      - slurm-net
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        max_attempts: 3

