version: "3.1"

networks:
  slurm-net:
    driver: overlay
    external: true

volumes:
  etc_munge:
  etc_slurm:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /slurm-confs
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    networks:
      - slurm-net
    volumes:
      - var_lib_mysql:/var/lib/mysql
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3

  slurmdbd:
    image: jamal0230/slurm-mpi-r:latest
    command: ["slurmdbd"]
    hostname: slurmdbd
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    depends_on:
      - mysql
    networks:
      - slurm-net
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3

  slurmctld:
    image: jamal0230/slurm-mpi-r:latest
    command: ["slurmctld"]
    hostname: slurmctld
    ports:
      - "8787:8787"
    environment:
      USER: rstudio
      PASSWORD: rstudio
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
    depends_on:
      - slurmdbd
    networks:
      - slurm-net
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3

